fastapi
uvicorn
python-multipart
transformers==4.49.0
torch
torchaudio
soundfile
librosa
pydub
numpy
requests
huggingface_hub
indictranstoolkit
TTS
sentencepiece
hf_transfer
git+https://github.com/myshell-ai/OpenVoice.git
eng_to_ipa
jieba
cn2an
pypinyin
langid
faster-whisper
whisper-timestamped
